version: "3.8"

services:
  dev-env:
    build:
      context: .
      dockerfile: ./docker/scripts/Dockerfile
    volumes:
      - ./:/var/projects

      # For Windows other drive
      - f:/data:/var/projects/data
    command: "tail -f /dev/null"
    # mem_limit: 10g
    # shm_size: 1g
    # cpus: 12

  db:
    image: postgres:16
    container_name: postgres
    command: -c 'config_file=/etc/postgresql/postgresql.conf'
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_USER=postgres
    mem_limit: 18g
    user: ${USER_ID}:${GROUP_ID}
    cpus: 12
    shm_size: 6g
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /mnt/wsl/ssd1/data1:/var/lib/postgresql/data
      - /mnt/wsl/ssd1/data2:/var/mnt/sdz
      - /mnt/wsl/hdd1/data:/var/mnt/sdo
      - /mnt/wsl/hdd2/data:/var/mnt/sdp
      - /mnt/wsl/hdd3/data:/var/mnt/sdq
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
      - ./scripts/init:/docker-entrypoint-initdb.d
      - /mnt/f/data:/var/mnt/sdf

  web:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    volumes:
      - ./.vscode:/opt/app/.vscode
      - ./.streamlit:/opt/app/.streamlit
      - ./models:/opt/app/models
      - ./static:/opt/app/static
      - ./apps:/opt/app/apps
    environment:
      - STREAMLIT_BROWSER_SERVER_ADDRESS=${HOST_ADDRESS}
      - MODEL_FILE=${MODEL_FILE}
    command:
      [
        "--server.runOnSave=True",
        "--logger.level=debug",
        "--server.fileWatcherType=poll",
      ]
    ports:
      - 8501:8501
    # For attach VSCode
    # entrypoint: ["tail", "-f", "/dev/null"]
